body {
    font-family: Arial, Helvetica, sans-serif;
}

/*body.darkmode {
    background-color: black;
    color: white;
}
*/
.code {
    font-family: Courier, Courier New, monospace;
}

/*.darkmode hr.dotted {
    border: 1px white dotted;
}*/

hr.dotted {
    border: 1px black dotted;
}

p {
    color: teal;
    font-style: italic;
}