body {
	background-color: black;
	color: white;
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	display: flex;
	justify-content: center;
}

#text {
	text-align: center;
	width: 60vw;
	background-color: #000080;
	color: #ff9900;
	font-family: Georgia, 'Times New Roman', Times, serif;
}

.sides {
	background-color: black;
	width: 20vw;
}

hr {
	width: 50vw;
	border: 1px #000080 dotted;
}

ol {
	display: block;
}

.whisper {
	font-size: rem0.6;
	color: #ffffff66;
}
