{% extends 'base.html' %}
{% block staticroute %}{% endblock %}
{% block script_route %}{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="d-sm-none d-md-block col-2"></div>
      <div class="col-12 col-md-8">
        <table class="table table-dark table-striped">
          <thead>
            <tr>
              <th>do it</th>
              <th class="text-success">did it?</th>
              <th class="text-danger">delete it</th>
            </tr>
          </thead>
          <tbody>
            {% for todo in todos %}
            <tr>
              <td id="todo-{{ todo.id }}" {% if todo.done %}class="done"{% endif %}>{{ todo.title }}</td>
              <td><button class="complete-todo btn btn-success btn-sm py-0 px-1 {% if todo.done %}disabled{% endif %}" data-id="{{ todo.id }}">DID IT!</td>
              <td><button class="delete-todo btn btn-danger btn-sm py-0 px-1" data-id="{{ todo.id }}">delete this forever</td>
            </tr>
            {% endfor %}
            <tr>
              <form id="add-todo-form">
                <td><input type="text" class="new-todo bg-dark mt-1" placeholder="do something else"></td>
                <td colspan="2"><button class="add-todo btn btn-primary px-5">add todo</button></td>
              </form>
              </tr>
          </tbody>
        </table>
      </div>
      <div class="d-sm-none d-md-block col-2"></div>
    </div>
  </div>
{% endblock %}
{% block scripts_after %}
<script src="../static/todos.js"></script>
{% endblock %}