{% extends 'base.html' %}
{% block staticroute %}../{% endblock %}
{% block script_route %}../{% endblock %}
{% block content %}
  <div class="container">
    <div class="row">
      <div class="d-sm-none d-md-block col-2"></div>
      <div class="col-12 col-md-8">
        <form action="/" method="POST">
          <div class="form-group">
            <label for="title">what do you want to do? </label><br>
            <input type="text" id="title" class="bg-dark" placeholder="do something!">
          </div>
          <button class="btn btn-primary my-2 py-1">do it!</button>
        </form>
        </div>
      <div class="d-sm-none d-md-block col-2"></div>
    </div>
  </div>
{% endblock %}
{% block scripts_after %}
<script src="../static/todos.js"></script>
{% endblock %}