body {
  background-color: black;
  color: white;
}

tag {
  font-size: 1.5rem;
  border-radius: 6px;
/*  padding: 0.4rem;
  margin: 0.6rem;*/
}

.troubleshooting {
  border: 8px solid yellow;
  background-color: red;
  color: blue;
}

.error {
  border: 4px solid red;
  background-color: yellow;
  color: black;
}

.info {
  border: 4px solid #008000;
  background-color: #00ff00;
  color: black;
}

.thanks {
  border: 4px solid navy;
  background-color: #00800099;
  color: blue;
}