{% extends 'base.html' %}
{% block tab_title %}Take Our Survey{% endblock %}
<!-- {% block staticroute %}./{% endblock %} -->
{% block header %}Would you be so kind as to take a survey?{% endblock %}
{% block content %}
<div class="container">
  <table class="table table-dark table-striped rounded">
    <thead>
      <th>Name</th>
      <th>Instructions</th>
      <th>select</th>
    </thead>
    <tbody>
      <form action="/question/0" method="POST">
        {% for survey in surveys %}
        {% if completed_surveys.count(survey) == 0 %}
        <!-- <div class="d-none"><input type="text" value="{{survey}}" name="key"></div> -->
        <tr>
          <td>{{surveys[survey].title}}</td>
          <td>{{surveys[survey].instructions}}</td>
          <td><button class="btn, btn-outline-primary rounded" name="key" value="{{survey}}">take this survey</button></td>
        </tr>
        {% endif %}
        {% endfor %}
      </form>
    </tbody>
  </table>
  <div class="row justify-content-center">
    <div class="col-6 col-md-4 col-lg-3">
      <form action="/reset">
        <button class="btn btn-danger text-warning">reset</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}