{% extends 'base.html' %}
{% block tab_title %}Take Our Survey{% endblock %}
{% block staticroute %}../{% endblock %}
{% block header %}{{survey.title}}{% endblock %}
{% block content %}
<div class="container">
  <h2>{{survey.instructions}}</h2>
  <table class="table table-dark rounded">
    <thead class="table-info text-dark">
      <th>#</th>
      <th>question</th>
      <th>response</th>
      {% if survey.questions[question_id].allow_text %}
      <th>elaboration</th>
      {% endif %}
    </thead>
    <tbody>
      <form action="/question/{{question_num}}" method="POST">
        <tr>
          <th scope="col">{{question_num}}</th>
          <th scope="col">{{survey.questions[question_id].question}}</th>
          <td>
            <select name="choice" id="choice" class="custom-select">
              <option selected value="">pick one...</option>
              {% for choice in survey.questions[question_id].choices %}
              <option value="{{choice}}">{{choice}}</option>
              {% endfor %}
            </select>
          </td>
          {% if survey.questions[question_id].allow_text %}
          <td><input type="text" name="elaboration" id="elaboration"></td>
          {% endif %}
        </tr>
        <tr>
          <td><span class="d-none"><input type="text" value="{{key}}" name="key"></span></td>
          <td>
            <!-- <span class="d-none"><input type="number" value="{{question_id}}" name="question"></span> -->
          </td>
          <td><button class="btn btn-block btn-info">submit</button></td>
        </tr>
      </form>
    </tbody>
  </table>
</div>
{% endblock %}