{% extends 'base.html' %}
{% block tab_title %}Take Our Survey{% endblock %}
<!-- {% block staticroute %}./{% endblock %} -->
{% block header %}{{survey.title}}{% endblock %}
{% block content %}
<div class="container">
  <div class="row">
    <!-- <div class="col-md-{{columns * 3}}"> -->
    <div class="col">
      <h2 class="bg-secondary rounded p-1 pl-2">Your Responses</h2>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <table class="table table-dark table-striped rounded">
        <thead>
          <tr>
            <th class="text-primary">question</th>
            <th>your answer</th>
            {% if columns == 3 %}
            <th>elaboration</th>
            {% endif %}
          </tr>
        </thead>
        <tbody>
          {% for i in range(num_questions) %}
          <td class="text-primary">{{survey.questions[i].question}} &nbsp;</td>
          {% if types[i] == list %}
          <td>{{responses[i][0]}} &nbsp;</td>
          <td>{{responses[i][1]}}</td>
          {% else %}
          <td>{{responses[i]}}</td>
          {% if columns == 3 %}
          <td></td>
          {% endif %}
          {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <!-- <div class="col-md-{{columns * 3}}"> -->
    <div class="col">
      <h2 class="bg-success border-rounded p-2">THANK YOU for taking our {{survey.title}}</h2>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-8 col-md-6 col-lg-4">
      <form action="/">
        <button class="btn btn-block btn-outline-primary text-primary rounded">take another survey</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}