{% extends 'base.html' %}
{% block tab_title %}Take Our Survey{% endblock %}
{% block page_nav_name %}Survey{% endblock %}
{% block header %}{{survey.title}}{% endblock %}
{% block content %}
<div class="container">
  <h2>{{survey.instructions}}</h2>
  <table class="table table-dark table-striped">
    <thead>
      <tr>
        <th>question</th>
        <th>answer</th>
        {% if columns == 3 %}
        <th>elaboration</th>
        {% else %}
        <th class="d-none"></th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      <form action="/response" method="POST">
        {% for i in range(num_questions) %}
        <tr>
          <td>{{survey.questions[i].question}} &nbsp;</td>
          <td>
            <select class="form-select" name="q{{i}}" aria-label="select answer">
              <option selected class="text-muted text-center">---pick one---</option>
              {% for choice in survey.questions[i].choices %}
              <option value="{{choice}}">{{choice}}</option>
              {% endfor %}
            </select>
          </td>
          {% if survey.questions[i].question.allow_text %}
          <td>
            <label for="t{{i}}">please elaborate</label>
            <input type="text" id="t{{i}}" name="t{{i}}">
          </td>
          {% else %}
          <td><input type="text" class="d-none" name="t{{i}}"></td>
          {% endif %}
        </tr>
        {% endfor %}
        <tr>
          <td colspan="{{columns}}"><button class="btn btn-secondary btn-block">Submit</button></td>
        </tr>
      </form>
    </tbody>
  </table>
</div>
{% endblock %}